<div class="container">

    <ul class="collection with-header">
        <li class="collection-header">
            <h4 class="ingredientsList"> Ingredient List for
                <%= list.name.join(', ') %>
            </h4>
            <a href="#" onclick="window.print()" class="secondary-content"><i class="material-icons">print</i></a>
        </li>

        <% list.ingredientsList.forEach((one, index) => { %>
            <li class="collection-item">
                <%= one %>
            </li>

            <% }) %>

    </ul>

</div>