<nav class="">
    <ul id="dropdown1" class="dropdown-content ">
        <li><a href="/recipies">Search for Recipes</a></li>
        <li><a href="/favourites">My Saved Recipes</a></li>

    </ul>

    <ul id="dropdown2" class="dropdown-content ">
        <li><a href="/mealplan">Meal Schedules</a></li>
        <li><a href="/mealplan/search">View Today's Schedule</a></li>

    </ul>
    <a href="#" class="brand-logo center"><i class=" large material-icons left">local_dining</i> Meal Planner</a>

    <ul id="dropdown3" class="dropdown-content "></ul>
    <div class="nav-wrapper">
        <ul class="left" id="nav-mobile">
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Recipies<i
                        class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Meal Plans<i
                        class="material-icons right">arrow_drop_down</i></a></li>

        </ul>
        <ul class="right" id="nav-mobile">
            <li><a href="/users/edit">Update User Preferences</a></li>
            <% if (currentUser) { %>
                <li>Welcome
                    <%= currentUser.username %>
                </li>
                <li>
                    <form action="/sessions?_method=DELETE" method="POST">
                        <input type="submit" value="Log Out" class="btn-small red" />
                    </form>
                </li>
                <% } else { %>
                    <li><a href="/users/new">Sign Up</a></li>
                    <li><a href="/sessions/new">Log In</a></li>
                    <% } %>
        </ul>
    </div>

</nav>