<div class="container">
    <ul class="users collection with-header">
        <li class="collection-header">
            <div>
                <h4> Meal Plan Days <a class="btn-floating btn-large waves-effect waves-light teal" onclick="window.location='/mealplan/new';"><i class="material-icons">add</i></a>
                </h4>
            </div>

        </li>
        <% mealPlans.forEach((element, index) => { %>

            <li class="collection-item">
                <div>
                    <h5>
                        <a href="/mealplan/<%=element._id %>">
                            <%=element.dateWithYear %>
                                <form action="/mealplan/<%= element._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-flat secondary-content"><i class="material-icons">delete</i></button>
                                </form>
                        </a>
                    </h5>
                    <a href="/mealplan/<%= element._id %>/edit" class="secondary-content"><i
                        class="material-icons">edit</i></a>
                </div>
            </li>
            <% }) %>
    </ul>
</div>