<div class="container form1">
    <h3 class="center-align">Login</h3>
    <div class="row">
        <form class="col s12" action="/sessions" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" name="username" class="">
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" name="password" class="">
                    <label for="password">Password</label>
                </div>
            </div>
            <button class="btn block waves-effect waves-light center-align" type="submit" name="action">Login
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>